li{
    list-style-type: none;
    padding: 10px;
}

#descripcion{
    width: 400px;
    height: 100px;
}

.container-md{
    margin-top: 85px;
}

.input{
    width: 400px;
    height: 30px;
}

.boton{
    margin-left: 315px;
}